extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)
    +alert-success(3000)

    h1(class="mb-4") #{record.title}

    if(record.title)
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=record.title
                required
                readonly
            )
    if(record.parent_id)
        div(class="form-group")
            label(for="parent_id") Danh mục cha
            input(
                type="text"
                class="form-control"
                id="parent_id"
                name="parent_id"
                value=record.parent_id
                required
                readonly
            )

    if(record.description)
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
                readonly
            ) #{record.description}
    
    div(
        class="form-group"
        upload-image
    )
        label(for="thumbnail") Ảnh
        br
        img(
            src=record.thumbnail
            upload-image-preview
            class="image-preview"
        )
    
    if(record.position)
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=record.position
                readonly
            )
    if(record.status)
        div(class="mb-4")
            span Trạng thái:  
            if(record.status === 'active')
                span(class = "badge badge-success") Hoạt động
            else 
                span(class = "badge badge-danger") Dừng hoạt động
    
    a(
        href=`${prefixAdmin}/products-category/edit/${record.id}`
        class="btn btn-warning btn-sm"
    ) Chuyển đến trang chỉnh sửa danh mục sản phẩm

    script(src="/admin/js/product.js") 
